.todo-item {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #f1f3f5;
}

.todo-text {
  flex-grow: 1;
  cursor: pointer;
  user-select: none; // 드래그 하이라이팅 방지
}

/* 완료(done) 시 취소선과 색상 적용 */
.todo-text.done {
  text-decoration: line-through;
  color: #adb5bd;
}

.delete-button {
  border: none;
  background-color: transparent;
  cursor: pointer;  
  padding: 5px 10px;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #f8f9fa;
}