* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin: 0;
}

.header {
  margin: 0;
  border-bottom: 1px solid #000000;
  padding: 68px 48px 24px;
}

#logo {
  width: 104px;
}

.nav {
  margin: 24px 0 0;
}
.nav-menu {
  font-size: 24px;  
  font-weight: 700;
  color: #000000;
  padding-right: 24px;
  text-decoration: none;
}

.section {
  margin: 40px 0 72px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

.date {
  font-size: 16px;
  color: #000000;
  margin: 8px 0;
}

.artworks {
  white-space: nowrap;
  overflow: scroll;
  margin: 24px -48px;
}

.artwork {
  height: 194px;
}


.button {
  padding: 12px 24px;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  display: inline-block;
  text-decoration: none;
}

.content {
  padding: 0 48px;  
}

.description {
  margin: 16px 0;  
  font-size: 16px;
  font-weight: 400px;
  color: #000000;
}

img.full {
  margin: 24px 0;
  width: 100%;
  
}